.popup-delete__window {
    max-width: 100%;
    max-height: 100%;
    width: 430px;
    min-height: 181px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (max-width: 572px) {
    .popup-delete__window {
        width: 282px;
    }
}