.popup__input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__input:focus {
    outline: none;
}